<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>iframe payment to {{ shop }}</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container pagecontainer">
      <h1>Payment to {{ shop }}</h1>

      <form method="post">
          <input type="hidden" name="shop_id" value="{{ shop_id }}" />
          <input type="hidden" name="payment_id" value="{{ payment_id }}" />
          <input type="hidden" name="signature" value="{{ signature }}" />

          <button type="submit" formaction="{{ approve_uri }}" value="submit" class="btn btn-xs btn-success" />
          <button type="submit" formaction="{{ cancel_uri }}" value="cancel" class="btn btn-xs btn-danger" />
      </form>

    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            console.log("Redirecting...");
            //window.parent.location.href = "";
        })
    </script>
  </body>
</html>
