<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>iframe payment to {{ shop }}</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container pagecontainer">
      {% if state == "PENDING" %}
      <h1>Payment to {{ shop }}</h1>

      <form method="post">
        <div class="form-group">
          <input type="hidden" name="shop_id" value="{{ shop_id }}" />
          <input type="hidden" name="payment_id" value="{{ payment_id }}" />
          <input type="hidden" name="signature" value="{{ signature }}" />

          <input type="submit" formaction="{{ approve_uri }}" value="submit" class="btn btn-success" />
          <input type="submit" formaction="{{ cancel_uri }}" value="cancel" class="btn btn-danger" />
        </div>
      </form>
      {% elif state == "APPROVED" %}
      <h1>All good! Thank you! :)</h1>
      {% elif state == "CANCELED" %}
      <h1>:(</h1>
      {% elif state == "ERROR" %}
      <h1>An error occurred! Trying to get you back to the checkout...</h1>
      {% endif %}

    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            console.log("Redirecting...");
            var returnUri = "{{ return_uri }}";
            if (returnUri) {
              window.parent.location.href = returnUri;
            }
        })
    </script>
  </body>
</html>
